body {
  background-image: url('../img/background1.jpg');
  background-size: cover;
  overflow: hidden;
}

.robots {
  height: 270px;
  padding-bottom: 10px;
}

.robot {
  height: 425px;
  padding-top: 10px;
}

.robot .thumbnail img {
  height: 85%;
  width: 65%;
}

.thumbnail {
  height: 100%;
  background-color: gray;
  /* opacity: 0.9; */
}

.robots p {
  font-size: 10.6px;
  color: rgb(216, 211, 211);
}

.thumbnail img {
  height: 50%;
  width: 60%;
  opacity: 1;
}

.stats1 {
  height: 425px;
  padding-top: 10px;
}

.stats2 {
  height: 425px;
  padding-top: 10px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 2px;
}

.red {
  border: 2px solid red;
}

.blue {
  border: 2px solid blue;
}

#fighters p {
  color: rgb(172, 8, 8);
  font-size: 12px;
}

.behind {
  display: none;
}

#player1 {
  height: 427px;
}

#player2 {
  height: 427px;
}

.red-text {
  color: rgb(151, 11, 11);
}

/* #player1:hover > .robot {
  display: none;
} */

#damage {
  background-image: url('../img/dmg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 125px;
  margin-left: 65px;
}

#damage h2 {
  margin-right: 20px;
  margin-top: 15px;
  padding-top: 25px;
}

.wordDamage {
  margin-left: 10px;
  color: rgb(216, 211, 211);
}

.dmg-h2 {
  padding-top: 10px;
}

@keyframes fadeout {
  from {
    display: block;
  } to {
    display: none;
  }
}

.attack-left {
  animation-duration: 2s;
  animation: leftAttack;
}

@keyframes leftAttack {
  from {width: 1000px;}
  to {width: 0px;}
}

.fighting {
  margin-top: 16%;
}

