body {
  background-color: grey;
  overflow: hidden;
}

.robots {
  height: 270px;
  padding-bottom: 10px;
}

.robot {
  height: 425px;
  padding-top: 10px;
}

.robot .thumbnail img {
  height: 85%;
  width: 65%;
}

.thumbnail {
  height: 100%;
}

.robots p {
  font-size: 10.6px;
}

.thumbnail img {
  height: 50%;
  width: 60%;
}

.stats {
  height: 425px;
  padding-top: 10px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 2px;
}

.red {
  border: 2px solid red;
}

.blue {
  border: 2px solid blue;
}

#fighters p {
  color: rgb(172, 8, 8);
  font-size: 12px;
}

.behind {
  display: none;
}

#player1 {
  height: 427px;
}

#player2 {
  height: 427px;
}

/* #player1:hover > .robot {
  display: none;
} */

@keyframes fadeout {
  from {
    display: block;
  } to {
    display: none;
  }
}